adium-theme-ubuntu==0.3.4
appdirs==1.4.3
apsw==3.8.11.1.post1
attrs==15.2.0
bcrypt==3.1.2
BeautifulSoup==3.2.1
beautifulsoup4==4.4.1
blinker==1.3
certifi==2017.1.23
cffi==1.9.1
chardet==2.3.0
cheroot==5.3.0
CherryPy==10.2.1
click==6.7
cryptography==1.2.3
cssselect==0.9.1
cssutils==1.0
decorator==4.0.11
Django==1.10.6
dnspython==1.12.0
dominate==2.3.1
duplicity==0.7.6
enum34==1.1.2
feedparser==5.1.3
fish==1.1
Flask==0.12
Flask-Bcrypt==0.7.1
Flask-Bootstrap==3.3.7.1
Flask-Login==0.4.0
Flask-MySQL==1.4.0
Flask-MySQLdb==0.2.0
Flask-Restless==0.17.0
Flask-SQLAlchemy==2.2
Flask-WTF==0.14.2
future==0.16.0
geocoder==1.21.2
html5lib==0.999
idna==2.0
ipaddr==2.1.11
ipaddress==1.0.16
itsdangerous==0.24
jedi==0.9.0
Jinja2==2.9.5
libvirt-python==1.3.1
lockfile==0.12.2
lxml==3.5.0
Markdown==2.6.6
MarkupSafe==1.0
mechanize==0.2.5
mimerender==0.6.0
mysqlclient==1.3.7
ndg-httpsclient==0.4.0
netifaces==0.10.4
numpy==1.11.0
oauthlib==2.0.2
packaging==16.8
PAM==0.4.2
Parsley==1.2
peewee==2.8.5
Pillow==3.1.2
portend==1.8
psutil==3.4.2
psycopg2==2.6.2
pyasn1==0.1.9
pyasn1-modules==0.0.7
pycparser==2.17
pygame==1.9.3
Pygments==2.1
pygobject==3.20.0
pyinotify==0.9.6
pyliblzma==0.5.3
PyMySQL==0.7.10
pyOpenSSL==0.15.1
pyparsing==2.2.0
pyserial==3.0.1
python-dateutil==2.6.0
python-mimeparse==1.6.0
python-postmark==0.4.12
python-telegram-bot==5.3.0
pytz==2016.10
PyYAML==3.11
ratelim==0.1.6
repoze.lru==0.6
requests==2.13.0
requests-oauthlib==0.8.0
Routes==2.2
service-identity==16.0.0
six==1.10.0
SQLAlchemy==1.1.7
telepot==10.5
tempora==1.6.1
torbrowser-launcher==0.2.4
tweepy==3.5.0
Twisted==16.0.0
txsocksx==0.0.0
ujson==1.35
unity-lens-photos==1.0
urllib3==1.20
uTidylib==0.2
vboxapi==1.0
virtualenv==15.0.1
visitor==0.1.3
WebOb==1.5.1
Werkzeug==0.12.1
WTForms==2.1
wxPython==3.0.2.0
wxPython-common==3.0.2.0
youtube-dl==2016.2.22
zope.interface==4.1.3
